
<h4>Welcome {{username}}, click to select a channel below [<a>Sign Out</a>]</h4>
<ul class="list-unstyled list-inline">
  <li class="roomlabel" ng-repeat="channel in channels">

  </li>

  <li class="roomlabel">
    <a href="" class="btn btn-default" ng-click="showCreate= !showCreate">
      <i class="fa fa-magic"></i> Create new ... 
    </a>
  </li>

  <div ng-show="showCreate()">
    <form action="" ng-submit="createChannel()">
      <h6>Create new Dev Room</h6>
      <div class="input-group">
        <input type="text" class="input-sm form-control" ng-model="newChannel" placeholder="Room Name">
        <span class="input-group-btn">
          <input type="text" class="input-sm btn btn-default" type="submit" value="Let's do it!">
        </span>
      </div>
    </form>
  </div>
</ul>

<br>

<div class="row">
  <div class="col-md-2">
    <smal class="market">Users In Room</smal>
    <ul class="list-unstyled">
      <li ng-repeat="user in users">

      </li>
    </ul>
  </div>
  <div class="col-md-10">
      <form action="" ng-submit="publish()">
          <h6>Create new Dev Room</h6>
          <div class="input-group">
            <input type="text" class="input-sm form-control" 
              ng-model="newMessage" placeholder="Type a message ....">
            <span class="input-group-btn">
              <input type="text" class="input-sm btn btn-default" type="submit" value="Send">
            </span>
          </div>
        </form>
        <br>
        <div class="well chatbox" id="chat_hostory">
          <ul class="list-unstyled">
            <li ng-repeat="message in messages">
              <i class="fa fa-comment"></i>
              &nbsp;
              {{message}}
            </li>
          </ul>
        </div>
  </div>
</div>